#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    gap:30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    
    width: 785px;
}



#taskHeading{
    
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
}

#taskScreen{
    padding:20px;
    align-items: center;
    background-color: #E9EDF2;
    border-radius: 10px;
    height: 400px;
    width:700px;
}


#noTasks{
    color:#bebebe;
    font-size: 24px;
    font-weight: bold
}

#taskButtons{
    display: flex;
    gap: 70px;    
}

#addButton,#deleteButton{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(88, 88, 215);
    cursor: pointer;
}