#popupOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#popupContent{
    display: flex;
    background-color: white;
    border-radius: 10px;
    gap: 50px;
    padding: 20px;
}

#popupText{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

#popupTitle,#popupDescription,#popupPriority{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;    
}

#popupTaskDescription,#popupTaskTitle,#popupPriorityHeading{
    display: flex;
    justify-content: center;
}

#inputTaskDescription,#inputTaskTitle{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(232, 220, 220);
}

#inputTaskDescription:focus,#inputTaskTitle:focus{
    outline: none;
}
#popupActions{
    margin-top: 4px;
    display: flex;
    justify-content: center;
    gap:20px;
}

#popupSubmit,#popupClose{
    border: none;
    border-radius: 4px;
    padding: 5px;
    color:white;
    background-color: blue;
    font-weight: bold;
    cursor: pointer;
}


#popupPriorityButtons{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

#redButton{
    appearance: none;
    width: 13px;
    height: 13px;
    
    border-radius: 50%;   
    outline: none;
    cursor: pointer;
    background-color: rgba(242, 2, 2, 0.778);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#redButton:checked{
    background-color: red;
}

#greenButton{
    appearance: none;
    width: 13px;
    height: 13px;
    
    border-radius: 50%;   
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.767);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#greenButton:checked{
    background-color: green;
}

#yellowButton{
    appearance: none;
    width: 13px;
    height: 13px;
    
    border-radius: 50%;   
    outline: none;
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.763);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#yellowButton:checked{
    background-color: rgb(205, 205, 22);
}